/*Insere uma nova fonte no projeto*/
@font-face { 
 
font-family: 'Gaspar Regular';
 
src: url('assets/fonts/Gaspar Regular.otf');
 
}

/*Utiliza a fonte em todo o Body*/
body {
	background-color: #09365b;
	font-family: 'Gaspar Regular', 'sans-serif';
}

/*Altera o fundo da Navbar e coloca sombra*/
.header .navbar-custom {
	background-color: #09365b;
	-webkit-filter: drop-shadow(2px 2px 2px #222);
  	filter: drop-shadow(2px 2px 2px #222);
}

/*Altera a cor da Logo da Navbar*/
.navbar-dark .navbar-brand {
	color: #d4dbe3;
}

/*Dimensionamento do banner*/
.banner{
	margin-top: 64px;
	max-height: 100vh;
	background: url(assets/images/banner.jpg);
	background-size: cover;
	background-position: center; 
}

/*Tira o padding do Jumbotron para a imagem ocupar ele todo*/
/*.jumbotron-custom {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}*/

/*Tira a margem inferior do h2 e dos h4 dentro da .navbar-brand*/
.navbar-brand h2, h4 {
	margin-bottom: 0;
}

/*Altera o padding do carousel iniciando-o logo
 *após a navbar
 */
/*.carousel-custom {
    padding-top: 64px;
}*/

/*Para que a imagem continue aparecendo mesmo em telas
 *menores, retira o padding de baixo e coloca a posição
 *bottom em 15px
 */
/*.d-md-block-custom {
	padding-bottom: 0;
	bottom: 15px;
    display: block!important;
}*/

/*Pega 70% do espaço da div para a logo e a centraliza
 *horizontalmente
 */
.w-custom {
	width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
}

/*Sombra na logo*/
.banner img {
	-webkit-filter: drop-shadow(5px 5px 5px #222);
  	filter: drop-shadow(5px 5px 5px #222);
}

/*Estilo da seção PRODUTOS*/
.title-produtos {
	text-align: center;
	padding-bottom: 10px;
	color: #d4dbe3;
	border-bottom: 4px dashed #d78442;
	opacity: 1;
}
.produtos {
	background: url(assets/images/background_produtos.jpg);
	background-size: cover;
	background-position: center;
	color: #d4dbe3;
}
.produtos .container {
	background-color: #09365b;
	opacity: 0.9;
	padding: 20px 40px;
}
.produto {
	padding-top: 15px;
	padding-bottom: 15px;
}
.produto .info {
	padding-left: 10px;
}
.produto .image {
	padding-right: 10px;
}
.produto .info p {
	color: #d78442;
	font-size: 1.2em;
	margin-top: 5px;
	margin-bottom: 0;
	font-family: sans-serif;
}
.produto .info h3 {
	margin-bottom: 0;
}
.produto img{
	-webkit-filter: drop-shadow(2px 2px 5px #d4dbe3);
  	filter: drop-shadow(2px 2px 5px #d4dbe3);
}
.pai-produto {
  display: flex;
  justify-content: left;
}
.filho-produto {
  align-self: center;
}

/*Estilo da seção SOBRE*/
.sobre .container {
	padding: 20px 40px;
	background-color: #d4dbe3;
}
.title-sobre {
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 10px;
	color: #09365b;
	border-bottom: 4px dashed #961811;
	opacity: 1;
}
.sobre p {
	color: #09365b;
	font-size: 1.2em;
	margin-top: 5px;
	margin-bottom: 0;
	font-family: sans-serif;
	text-align: center;
}
.sobre img {
	padding: 10px 0;
	height: auto;
	width: auto;
	-webkit-filter: drop-shadow(2px 2px 5px #09365b);
  	filter: drop-shadow(2px 2px 5px #09365b);
}
.pai {
  display: flex;
  justify-content: center;
}
.filho {
  align-self: center;
}

/*Estilo da seção CLIENTES*/
.clientes .container {
	padding: 20px 40px;
	background-color: #d4dbe3;
}
.title-clientes {
	text-align: center;
	padding-bottom: 10px;
	color: #09365b;
	border-bottom: 4px dashed #961811;
	opacity: 1;
}
.clientes img {
	max-height: 250px;
	padding: 20px 40px;
	height: auto;
	width: auto;
	opacity: .6;
	-webkit-filter: drop-shadow(3px 3px 5px #222);
  	filter: drop-shadow(3px 3px 5px #222);
}